# Week 1&2 Exerciese

 2.Create a Jupyter notebook where you create a list, iterate over the list and sort your results, generate random numbers, add to the list, and then print your results.

# Exercies 1: Accessing the list members

In [1]:
#Define a list called List_1: 

list_1 = [34, 12, 89, 1, 67, 98, 123, 100, 4, 234]
print (list_1)

[34, 12, 89, 1, 67, 98, 123, 100, 4, 234]

In [2]:
#Access the first element from list_1:

list_1[0]

34

In [3]:
#Access the last element from list_1:

list_1[5]

98

In [4]:
#Access the last element from list_1 using the len function:

list_1[len(list_1) - 1]

234

In [5]:
#Access the first three elements from list_1 using forward indices:

list_1[0:7]

[34, 12, 89, 1, 67, 98, 123]

In [6]:
#Access the last element from list_1 by slicing:

list_1[3]

1

In [7]:
#Sort out the list_1

sorted(list_1)

[1, 4, 12, 34, 67, 89, 98, 100, 123, 234]

# Exercise 2: Generating a List

In [8]:
#Create a list using the append method

list_1 = []
for x in range (0,10):
    list_1.append(x)
    
list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
#Generate a list using the following command 

list_2 = [x for x in range (0,100)]
list_2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [10]:
#Use a while loop to iterate over a list:

i = 0
while i < len(list_1) :
    print (list_1[i])
    i += 1

0
1
2
3
4
5
6
7
8
9

# Exercies 3: iterating over a List and Sort the result

In [11]:
#Iterate over a list 

list_1 = [x for x in range(0, 100)]
for i in range(0, len(list_1)):
    print (list_1[i])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [12]:
for i in list_1:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [13]:
30 in list_1

True

In [14]:
-30 in list_1

False

# Exercise 4: Sorting a List

In [15]:
#Sort list_1 in reverse direction

list_1.sort(reverse=True)
list_1

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [16]:
list_1.reverse()
list_1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

# Exercise 5: Generating the Random List

In [17]:
import random
#Use the randint function to generate random integers and add then to the list
#Print the list 
list_1 = [random.randint (0, 30) for x in range (0,100)]
list_1

[0,
 19,
 29,
 21,
 4,
 28,
 0,
 3,
 28,
 25,
 28,
 6,
 5,
 5,
 13,
 15,
 27,
 14,
 21,
 19,
 30,
 18,
 23,
 19,
 24,
 26,
 18,
 16,
 29,
 17,
 14,
 19,
 17,
 18,
 1,
 30,
 2,
 15,
 30,
 4,
 16,
 19,
 17,
 30,
 4,
 16,
 13,
 28,
 0,
 2,
 3,
 26,
 21,
 25,
 5,
 18,
 0,
 23,
 26,
 12,
 28,
 17,
 19,
 8,
 13,
 1,
 16,
 1,
 25,
 10,
 21,
 9,
 23,
 8,
 11,
 29,
 13,
 26,
 0,
 23,
 26,
 10,
 22,
 25,
 20,
 3,
 1,
 3,
 11,
 17,
 2,
 7,
 18,
 20,
 17,
 5,
 1,
 15,
 8,
 24]

# 3. Create a line chart with Matplotlib and the following data file.

In [18]:
#import matplotlib package 

import matplotlib.pyplot as plt
import pandas as pd

In [19]:
#Read 'world-population.csv' file

df=pd.read_csv('world-population.csv')
df.head()

   Year  Population
0  1960  3028654024
1  1961  3068356747
2  1962  3121963107
3  1963  3187471383
4  1964  3253112403