# Activity01: Handling List

Create a list of 100 random numbers

In [5]:
import random

LIMIT = 100
random_number_list = [random.randint(0, LIMIT) for x in range(0, LIMIT)]

In [6]:
random_number_list

[22,
 72,
 74,
 1,
 92,
 76,
 1,
 61,
 23,
 4,
 70,
 72,
 95,
 62,
 92,
 78,
 50,
 100,
 65,
 82,
 9,
 37,
 20,
 78,
 91,
 35,
 2,
 97,
 28,
 33,
 72,
 97,
 11,
 6,
 99,
 68,
 43,
 74,
 29,
 56,
 44,
 71,
 37,
 99,
 53,
 55,
 72,
 82,
 65,
 77,
 74,
 64,
 7,
 49,
 25,
 43,
 43,
 67,
 80,
 58,
 4,
 65,
 75,
 23,
 9,
 79,
 97,
 31,
 77,
 22,
 54,
 87,
 52,
 78,
 12,
 98,
 7,
 97,
 9,
 38,
 91,
 95,
 1,
 69,
 37,
 17,
 28,
 67,
 88,
 5,
 73,
 76,
 43,
 58,
 44,
 85,
 49,
 98,
 17,
 42]

Create a new list from this random list, which numbers that are divisible by 3.

In [7]:
list_with_divisible_by_3 = [a for a in random_number_list if a % 3 == 0]

In [8]:
list_with_divisible_by_3

[72, 72, 78, 9, 78, 33, 72, 6, 99, 99, 72, 75, 9, 54, 87, 78, 12, 9, 69, 42]

Calculate the length of these two lists and store the differences in a new variable.

In [9]:
length_of_random_list = len(random_number_list)
length_of_3_divisible_list = len(list_with_divisible_by_3)
difference = length_of_random_list - length_of_3_divisible_list
difference

80

Using a loop, perform step2 and 3 and find the diffrence variable three times.

In [17]:
NUMBER_OF_EXPERIEMENTS = 3
difference_list = []
for i in range(0, NUMBER_OF_EXPERIEMENTS):
    random_number_list = [random.randint(0, LIMIT) for x in range(0, LIMIT)]
    list_with_divisible_by_3 = [a for a in random_number_list if a % 3 == 0]
    
    length_of_random_list = len(random_number_list)
    length_of_3_divisible_list = len(list_with_divisible_by_3)
    difference = length_of_random_list - length_of_3_divisible_list
    
    difference_list.append(difference)
difference_list

[77, 74, 68]

Find the arithmetic mean of these three difference value.

In [18]:
avg_diff = sum(difference_list) / float(len(difference_list))
avg_diff

73.0